<select [(ngModel)]="selectedOption" (change)="submit.emit(selectedOption)">
  <option value="" disabled selected>Seleziona</option>
  @for (option of options; track option) {
    <option [value]="option">{{ option }}</option>
  }
</select>
<select [(ngModel)]="selectedRange" (change)="submitRange.emit(selectedRange)">
  <option value="" disabled selected>Seleziona range</option>
  @for (optionRange of rangeOptions; track optionRange) {
    <option [value]="optionRange">{{ optionRange}}</option>
  }
</select>
