<form [formGroup]="form">
  <app-person-form [form]="customerDataSubForm"></app-person-form>
  <input type="text" formControlName="customerName" placeholder="Customer name">
  <input type="number" formControlName="customerAge" placeholder="Customer age">
  <div formArrayName="productNames">
    @for (control of productNamesFormArray.controls; track control; let index = $index) {
      <input type="text" [formControlName]="index" placeholder="Product name">
      <button (click)="removeProduct(index)">Remove</button>
      <br>
    } @empty {
      <span>No products</span>
    }
  </div>
  <button (click)="addProductName()">Add Product</button>
  <button [disabled]="form.invalid" (click)="submitForm()">Submit</button>
</form>
<br>
<app-person-form [form]="personForm"></app-person-form>
