<div class="container-fluid">
  <div class="row">
    <h2>Bestie</h2>
  </div>

  <app-searchbar (submit)="onSearchBeastName($event)"></app-searchbar>

  <div class="mt-3">
    <table class="w-100">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Specie</th>
          <th>Habitat</th>
          <th>Dieta</th>
        </tr>
      </thead>
      <tbody>
        @for (beast of filteredBeasts; track beast.id) {
          <tr>
            <td>{{ beast.name }}</td>
            <td>{{ beast.species }}</td>
            <td>{{ beast.habitat }}</td>
            <td>{{ beast.diet }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
