<div class="container-fluid">
  <div class="row">
    <h2>Bestie</h2>
  </div>

  <div class="d-flex gap-2">
    <app-searchbar (submit)="onSearchBeastName($event)"></app-searchbar>
    <app-filter-advance
      [options]="optionsbeastSpecies"
      [rangeOptions]="optionsRangeSize"
      (submit)="onSelectOptionsBeastSpecies($event)"
      (submitRange)="onSelectOptionsRangeLength($event)"
    ></app-filter-advance>
    <button class="rounded-2" type="button" (click)="resetBeast()">
      Reset
    </button>
    <button class="rounded-2" type="button" (click)="sortByWeight()">
      Ordina per peso
    </button>
  </div>

  <div class="mt-3">
    <table class="w-100">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Specie</th>
          <th>Habitat</th>
          <th>Dieta</th>
          <th>Taglia</th>
          <th>Peso</th>
        </tr>
      </thead>
      <tbody>
        @for (beast of filteredBeasts; track beast.id) {
          <tr>
            <td>{{ beast.name }}</td>
            <td>{{ beast.species }}</td>
            <td>{{ beast.habitat }}</td>
            <td>{{ beast.diet }}</td>
            <td>{{ beast.size.length }}</td>
            <td>{{ beast.size.weight }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="mt-3">
    <div class="row">
      @for (groupBeastDiet of groupedBeastsByDiet; track $index) {
        <div class="col-md-4">
          <table class="w-100">
            <thead>
              <tr>
                <th>{{ groupBeastDiet.diet }}</th>
              </tr>
            </thead>
            <tbody>
              @for (name of groupBeastDiet.names; track $index) {
                <tr>
                  <td>{{ name }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </div>
</div>
